{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title-reset">Modification du mot de passe</h2>
                </div>
                <div class="card-body">
                    
                    {{form_start(form)}}

                        <div class="label-form">
                            {{ form_row(form.oldPassword, {'label': 'Mot de passe actuel :', 'attr': {'placeholder': 'Saisissez votre ancien mot de passe ...'}}) }}
                            {{ form_row(form.newPassword, {'label': 'Nouveau mot de passe :','attr': {'placeholder': 'Saisissez votre nouveau mot de passe ...'}}) }}
                            {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe','attr': {'placeholder': 'Confirmer le nouveau mot de passe ...'}}) }}
                        </div>
                       
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                        
                    {{form_end(form)}}

                </div>
            </div>
        </div>
    </div>


{% endblock %}