{% extends 'base.html.twig' %}

{% block title %}Affichage{% endblock %}

{% block body %}
<h1>Affichage de la séquence "{{ nomSequence }}"</h1>
{% set var=sequence | jsonMultiAsso %}
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th class="text-center" scope="col">Angle 1</th>
      <th class="text-center" scope="col">Angle 2</th>
      <th class="text-center" scope="col">Angle 3</th>
      <th class="text-center" scope="col">Angle 4</th>
      <th class="text-center" scope="col">Angle 5</th>
      <th class="text-center" scope="col">Angle 6</th>
    </tr>
  </thead>
  <tbody>
{# {% for  cle, valeur in sequence |json_decode | chunkTableau %} #}



{# {{ dump(une) }}  #}

<tr>
{% for une in var %}
{% for deux in une %}
{% for trois in deux %}

   <td class="text-center">{{ trois }}</td> 
{# {{ dump(deux) }} #}
{# {%  for cle1, deux in valeur  %} #}
{# <td class="text-center">{{ deux }}</td> #}
{# <td class="text-center">{{ deux }}</td> #}

 {% endfor %} 
  {% endfor %} 
</tr>
{% endfor %} 

</tbody>
</table>


<a href="{{ path('sequence_enregistrerSequence') }}" target="_blank"><button class="btn btn-outline-success">Enregistrement d'une séquence</button></a><br><br>
<a href="{{ path('sequence_selectionnerSequence') }}" target="_blank"><button class="btn btn-outline-primary">Affichage et suppression des séquences</button> </a>

{% endblock %}
