{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}


<h3>Quel nom voulez-vous donner à la séquence?</h3>
{{ form_start(form) }}

{{form_row(form.nomSequence,{'attr' :{'placeholder': 'saisissez le nom de la séquence'}}) }}


{{ form_end(form) }}

{% if nomSequence and ancienNomSequence is null %}

<h3>La séquence {{ nomSequence }} a bien été enregistrée </h3>
<a role="button" class="btn btn-success" href="{{ path('sequence_afficher',{'nomFichierSequence':nomSequence}) }}" target="_blank">affichage de la séquence</a>


{#<h3>Voulez-vous renommer la séquence ? </h3>
<form action="{{ path('sequence_transitionRenommer',{'nomFichierSequence':nomSequence}) }}" method="post">
<a role="button"
href="{{ path('sequence_transitionRenommer',{'nomFichierSequence':nomSequence}) }} class="btn btn-primary"> appel
<input type="submit" id="oui" name="oui"
						value="oui" class="btn btn-outline-success" />
<input type="submit" id="non" name="non"
						value="non" class="btn btn-outline-success" />

</form>#}

{% elseif nomSequence and ancienNomSequence is not null %}
<h3>La séquence {{ ancienNomSequence }} a bien été renommée. </h3>
<a role="button" class="btn btn-success" href="{{ path('sequence_afficher',{'nomFichierSequence':nomSequence}) }}" target="_blank">affichage de la séquence</a>

{% endif %}

{% endblock %}


