{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}


<h3>Quel nom voulez-vous donner à la séquence?</h3>
{{ form_start(form) }}

{{form_row(form.nomSequence) }}


{{ form_end(form) }}

{% if nomSequence %}

<h3>La séquence {{ nomSequence }} a bien été enregistrée </h3>
<a href="{{ path('sequence_afficher',{'nomFichierSequence':nomSequence}) }}" target="_blank">affichage de la séquence</a>
{% endif %}

{% endblock %}

