{% extends 'base.html.twig' %}

{% block title %}
Enregistrement
{% endblock %}

{%  block javascripts %}
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src="{{asset('js/sequence/enregistrer_sequence.js')}}" ></script>




</script>
{%  endblock %}
{% block body %}

<h3>Quel nom voulez-vous donner à la séquence?</h3>
{#<form action="{{ path('sequence_traitement') }}" method="get" id="formulaire" name="formulaire">
	<div class="form-group">
		<!-- pour regrouper plusieurs contrôles et les espacer-->
		<label for="sequence">NOM DE LA SEQUENCE</label> 
		<input type="text"
			id="sequence" class="form-control" name="nomsequence" placeholder="nom de la séquence"  />
		<input type="hidden" name="data" id="data"  />
	</div>

	<div class="row justify-content-end">
		<button type="button" onclick="enregistrer();">Début enregistrement</button>
		<button type="button" onclick="setTimeout(function(){envoyer();},5000);">Fin enregistrement</button>
	</div>
</form>#}

{{ form_start(form,{'attr' : {'id': 'formulaire'}} ) }}

{{form_row(form.nom,{'attr' :{'placeholder': 'saisissez le nom de la séquence'}}) }}
{{form_row(form.data,   {'id': 'data'} ) }}

<input type='button' class='btn btn-outline-success' id='debut' value="Debut enregistrement"/>
<input type='button' class='btn btn-outline-danger' id='fin' value="Fin enregistrement" />
{{ form_end(form) }}
<br/>

<div id="progressbar"><div class="message" style="text-align:center;left:0;right:0;position:absolute;z-index:10; opacity:0">Séquence en cours d'enregistrement</div></div>


{% endblock %}
