{% extends 'base.html.twig' %}

{% block title %}Modification du robot{% endblock %}

{% block body %}

    <h1 id="title_config">Modification du robot</h1>


    {{ form_start(form) }}

        {{ form_row(form.ip, {'label': 'Adresse IP :','attr': {'placeholder': 'Adresse ip ...'}}) }}
        {{ form_row(form.modele, {'label': 'Modèle :','attr': {'placeholder': 'Modèle du robot ...'}}) }}
        {{ form_row(form.axes, {'label': 'Axes :','attr': {'placeholder': 'Nombres d\'axes du robot ...'}}) }}
        
        <button type="submit" class="btn btn-success">Enregistrer !</button>

    {{ form_end(form) }}

{% endblock %}